@model IEnumerable<HW.Models.ViewModels.MoneyViewModels>
@{ 
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.Label("#")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
               
            </tr>

            @foreach (var item in Model)
            {
                String s = item.Amount.ToString("###,###");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                      
                        @Html.DisplayFor(modelItem => item.Sdate)
                    </td>
                    <td>
                        
                        @Html.DisplayFor(modelItem=>s)
                    </td>
                   
                </tr>
            }
        </table>
    </div>
</div>