@model IEnumerable<HW.Models.ViewModels.MoneyViewModels>
@{ 
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.Label("#")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.amount)
                </th>
               
            </tr>

            @foreach (var item in Model)
            {
                String amountFormat = item.amount.ToString("###,###");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.pageNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                      
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        
                        @Html.DisplayFor(modelItem=> amountFormat)
                    </td>
                   
                </tr>
            }
        </table>
    </div>
</div>